<div class="ui container">

    <ul id="messages" class="ui comments">


    </ul>

    <div class="ui rply form">
        <div class="field">
            <textarea name="" id="message" placeholder="Votre Message"></textarea>
        </div>
    </div>
</div>
