<div class="ui container">

    <div id="messages" class="ui comments">


    </div>

    <div class="ui rply form">

        <div class="field">
            <textarea id="message" placeholder="Votre Message"></textarea>
        </div>

    </div>
</div>
