<h1>Bienvenue sur mon exemple Ruby On Rails</h1>


<p>Ce site permet de voir et comprendre le fonctionnement de Ruby on Rails de façon simple.</p>
<p>Il a été élaboré à partir de 0 en suivant différents tutoriel dont ceux de Grafikart.</p>
<p>Un container a également été mis en place pour pouvoir tester les différents cas et configuaration de façon simple et sans impacter la configuration de votre machine.</p>

<p>Merci et bonne lecture.</p>

<%= image_tag 'rubyonrails - logo', width: 100 %>
