<h1>Editer l'article</h1>

<%= form_for @post do |f| %>

    <div class="form-group">
        <label>Titre de l'article</label>
        <div class="form-control"><%= f.text_field :name %></div>

        <label>Contenu de l'article</label>
        <div class="form-control"><%= f.text_area :content %></div>
    </div>

<% end %>
